.main-message {
  height: 1400px; }

.grid-container-message {
  display: -ms-grid;
  display: grid;
  width: 70%;
  margin: 0 auto;
  grid-gap: 5px;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  padding: 10px; }

.grid-item-success-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #6270ff; }
  .grid-item-success-message p, .grid-item-success-message h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-success-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-error-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ff427c; }
  .grid-item-error-message p, .grid-item-error-message h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-error-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-warning-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ba4eff; }
  .grid-item-warning-message p, .grid-item-warning-message h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-warning-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-info-message {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ffcc44; }
  .grid-item-info-message p, .grid-item-info-message h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-info-message i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }

.grid-item-success-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #6270ff;
  height: 20px; }
  .grid-item-success-message-resume p, .grid-item-success-message-resume h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-success-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-success-message-resume p, .grid-item-success-message-resume h4 {
    margin-top: 1px; }
  .grid-item-success-message-resume i {
    margin-top: -20px; }

.grid-item-error-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ff427c;
  height: 20px; }
  .grid-item-error-message-resume p, .grid-item-error-message-resume h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-error-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-error-message-resume p, .grid-item-error-message-resume h4 {
    margin-top: 1px; }
  .grid-item-error-message-resume i {
    margin-top: -20px; }

.grid-item-warning-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ba4eff;
  height: 20px; }
  .grid-item-warning-message-resume p, .grid-item-warning-message-resume h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-warning-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-warning-message-resume p, .grid-item-warning-message-resume h4 {
    margin-top: 1px; }
  .grid-item-warning-message-resume i {
    margin-top: -20px; }

.grid-item-info-message-resume {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  background-color: #ffcc44;
  height: 20px; }
  .grid-item-info-message-resume p, .grid-item-info-message-resume h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-info-message-resume i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-info-message-resume p, .grid-item-info-message-resume h4 {
    margin-top: 1px; }
  .grid-item-info-message-resume i {
    margin-top: -20px; }

.container-message-resume {
  margin-top: 60px; }

.grid-item-success-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #6270ff;
  color: black; }
  .grid-item-success-message-border p, .grid-item-success-message-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-success-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-success-message-border i {
    color: #6270ff; }

.grid-item-error-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ff427c;
  color: black; }
  .grid-item-error-message-border p, .grid-item-error-message-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-error-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-error-message-border i {
    color: #ff427c; }

.grid-item-warning-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid  #ba4eff;
  color: black; }
  .grid-item-warning-message-border p, .grid-item-warning-message-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-warning-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-warning-message-border i {
    color: #ba4eff; }

.grid-item-info-message-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ffcc44;
  color: black; }
  .grid-item-info-message-border p, .grid-item-info-message-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-info-message-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-info-message-border i {
    color: #ffcc44; }

.grid-item-success-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #6270ff;
  height: 20px; }
  .grid-item-success-message-resume-border p, .grid-item-success-message-resume-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-success-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-success-message-resume-border p, .grid-item-success-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-success-message-resume-border i {
    margin-top: -20px;
    color: #6270ff; }

.grid-item-error-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ff427c;
  height: 20px; }
  .grid-item-error-message-resume-border p, .grid-item-error-message-resume-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-error-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-error-message-resume-border p, .grid-item-error-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-error-message-resume-border i {
    margin-top: -20px;
    color: #ff427c; }

.grid-item-warning-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ba4eff;
  height: 20px; }
  .grid-item-warning-message-resume-border p, .grid-item-warning-message-resume-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-warning-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-warning-message-resume-border p, .grid-item-warning-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-warning-message-resume-border i {
    margin-top: -20px;
    color: #ba4eff; }

.grid-item-info-message-resume-border {
  padding: 10px;
  width: 92%;
  margin: 0 auto;
  height: 120px;
  color: white;
  border: 1px solid #ffcc44;
  height: 20px; }
  .grid-item-info-message-resume-border p, .grid-item-info-message-resume-border h4 {
    padding: 0px 20px 5px 60px; }
  .grid-item-info-message-resume-border i {
    padding: 20px 0px 0px 13px;
    position: absolute;
    font-size: 1.3em; }
  .grid-item-info-message-resume-border p, .grid-item-info-message-resume-border h4 {
    margin-top: 1px;
    color: black; }
  .grid-item-info-message-resume-border i {
    margin-top: -20px;
    color: #ffcc44; }

.container-message-resume {
  margin-top: 60px; }

.center {
  text-align: center;
  margin-bottom: 10px;
  width: 68%; }
  .center h4 {
    display: inline-block; }
