.btn {
  display: flex; 
  justify-content: center;
  align-items: center;
 
  text-decoration:none;
 
  padding:5px 10px;
  font-size:25px;
  height: 55px;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
 }

 .buy-now {
  @include button(cyan, 20px);
  @include gradient(45deg, #7ae2ff, #7090ef);

}