// Je tiens à m'excuser car c'est VRAIMENT le bordel mais j'ai passé 90% sur un problème d'IDE et le reste à coder avec plaisir (: ..

body{  
  margin: 0; 				/* vire les bords blanc sur le navigateur		   */
  height: 667px;
  .shoe{
    img{
      width: 270px;
      z-index: 2;
      position: absolute;
      top: 23%;
      left: 18%;
      @media (min-width: 600px) {
        top:50%;
        left: 5%;
      }
    }
  }
  font: {
    size: 14px;
    family: 'Open Sans', sans-serif;
    font-weight: 800;
  }

  .light{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
  }

  .lefty{
    color: white;
    padding-left: 20px;
    padding-bottom: 50px;
    font-size: 30px;

    

    h2{
      margin-top: 0px;
    }

    .dots{
      display: flex;
      
      .dot{
        height: 10px;
        background: lightgrey;
        border-radius: 5px;
        width: 10px;
        margin-left: 6px;
        
        &.active{
          background: white;
        }
      }
    }
  }

  .righty{
    color: black;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    h1{
      margin-top: 20px;
      span{
        font-size: 18px;;
      }
    }

    .disparait-mnt{
      font-size: 15px;
      @media (min-width: 600px) {
        display: none;
      }

      p{

      }

    }

    h3{
      font-size: 15px;
      float: left;
      @media (min-width: 600px) {
        float: right;
      }
    }

    .size{
      margin-bottom: 25px;
        span{
          margin-right: 10px;
          color: lightgrey;
          &.active{
            color: black;
          }
        }
      @media (min-width: 600px) {
        float: right;
      }
    }

    .whitebox{
      background: white;
      border-radius: 30px;   
      padding: 25px;
      @media (min-width: 600px) {
        padding-left: 100px;
      }

      .le-juste-prix{
        @media (min-width: 600px) {
          padding-left: 200px;
        }
      }
      
    }
      
  }
}