header {
    nav {
        display: flex;
        // justify-content:
        //       flex-start | flex-end | center | space-between | space-around
        justify-content: space-between;
        //align-items:
        //       flex-start | flex-end | center | baseline | stretch
        align-items: stretch;
        flex-direction: row;
        padding: 0;
        margin: 0;
        list-style: none; //enlève les points deg
        //height:50px;

        .logo {
            // float: left;
            padding: 20px 20px;

            img{
                width: 50px;
            }
        }
    }

    .hamburger{
        padding: 20px 20px;
        span{
            display: block;
            height: 3px;
            margin-bottom: 5px;
            background: white;
            border-radius: 3px;
        }
        .un{
            width: 25px;
        }
        .deux{
            width: 15px;
            float: right;
        }
    }
}
