
// ~~~~~ CREATION GRADIENT MAKER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@mixin gradient ($deg, $start_color, $end_color) {

background: $start_color;

    /* FF3.6-15 */
        background: -moz-linear-gradient($deg, $start_color 0%, $end_color 100%);

    /* Chrome10-25,Safari5.1-6 */
        background: -webkit-linear-gradient($deg, $start_color 0%, $end_color 100%);

    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        background: linear-gradient($deg, $start_color 0%, $end_color 100%);

    }
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// ~~~~~ VARIANTES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
    .gradient {
        &--cyan-fade {
            @include gradient (180deg, #41b9bc, #a3e5e8);
        }
        &--cyan-blue {
            @include gradient (90deg, #30c8ca, #304eca);
        }
    }
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~