
// ~~~~~ CREATION GRID MAKER ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    @mixin grid ($size, $total_col, $gutter) {

        $gutterLarge:($gutter * 5);

        @for $i from 1 through $total_col {
            .col-#{$size}-#{$i} {
                $math: ((100% / $total_col) * $i);
                $gutterTotal: ($gutter * 2);
                width: calc(#{$math} - #{$gutterTotal}px);
                margin: 0 #{$gutter}px; // on met en px ici
                flex-shrink: 0;// ??
            }
            // si exemple : class="col-xs-12 col-sm-3 large et tu x5 ta gouttière"
            .col-#{$size}-#{$i}.large { 
                $math: ((100% / $total_col) * $i);
                $gutterTotal: ($gutterLarge * 2);
                width: calc(#{$math} - #{$gutterTotal}px);
                margin: 0 #{$gutterLarge}px; // on met en px ici
            }
        }
    }
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// ~~~~~ VARIANTES ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@include grid ('xs', $total_col, $gutter);

@media ( min-width: 667px) {
    @include grid ('sm', $total_col, $gutter);
}

@media ( min-width: 992px) {
    @include grid ('md', $total_col, $gutter);
}

@media ( min-width: 1180px) {
    @include grid ('lg', $total_col, $gutter);
}

.row {
    margin: 0 -#{$gutter}px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 90px;
}

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~